@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.inventory-details {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $secondary-border-color;
        padding: 1.5rem 1rem 1rem;

        @include tablet {
            padding: 1.4375rem 2rem;    
        }
    }

    &__heading {
        display: flex;
        align-items: baseline;
    }

    &__icon {
        width: 20px;
        margin-right: 0.25rem;
        transition: transform 0.2s ease;
        cursor: pointer;

        @include tablet {
            width: 24px;
            margin-right: 0.5rem;
        }

        &:hover {
            transform: translateX(-4px);
        }
    }

    &__title {
        @include mobile-text-pageheader-h1();
        margin-right: 1rem;
        
        @include tablet {
            @include tablet-text-pageheader-h1();
            margin-top: 0.5rem;
        }
    }

    &__edit-mobile {
        @include tablet {
            display: none;
        }
    }

    &__edit-icon {
        width: 30px;
        margin-top: 0.25rem;
        padding: 0.375rem;
        border-radius: 1.875rem;
        background-color: $primary-interactive-color;
        cursor: pointer;

        &:hover {
            background-color: $secondary-background-hover-color;
        }
    }

    &__edit-tablet {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &__body {
        padding: 16px;

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 2rem;
        }
    }

    &__column {
        @include tablet {
            width: 50%;
            padding: 0.5rem 2rem;
        }

        &:first-child {
            @include tablet {
                border-right: 1px solid $secondary-border-color;
                padding-left: 0;
            }
        }
    }

    &__subtitle {
        @include mobile-text-tableheader-h4();
        padding-bottom: 0.125rem;
        text-transform: uppercase;

        @include tablet {
            @include tablet-text-tableheader-h4();
        }
    }

    &__paragraph {
        @include mobile-text-bodysmall-p3();
        padding-bottom: 1rem;

        @include tablet {
            @include tablet-text-bodymedium-p2();
            padding-bottom: 2rem;
        }
    }

    &__paragraph-two {
        @include mobile-text-bodysmall-p3();
        padding-bottom: 1rem;

        @include tablet {
            @include tablet-text-bodymedium-p2();
            padding-bottom: 0;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding-right: 25%;
        padding-bottom: 0.5rem;
    }

    &__in-stock {
        @include in-stock-styles();
    }

    &__out-of-stock {
        @include out-of-stock-styles();
    }

    &__status {
        @include status-styles();
    }
}