@use './fonts' as *;
@use './variables' as *;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Titillium Web';
    margin: 0;
    padding: 0;
    background-color: $primary-background-color;
}