// Primary Colours
$primary-text-color: #13182C;
$primary-interactive-color: #2E66E5;
$primary-background-color: #F7F8F9;
$light-color: #FFFFFF;

// Secondary Colours
$secondary-text-color: #5C667E;
$secondary-border-color: #BDC5D5;
$secondary-background-hover-color: #232940;

// Supporting Colours
$label-instock-color: #158463;
$label-outofstock-color: #C94515;

// Responsive Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;