@use '../../styles/partials/_variables.scss';
@use '../../styles/partials/mixins' as *;


//Inventory Styling

.inventory__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-radius: 5px;
    background-color: variables.$light-color;
    box-sizing: border-box;

    .search__wrap {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-bottom: 1px solid variables.$secondary-border-color;

        h1 {
            margin: .5rem .5rem .5rem 0;
        }

        input {
            border-radius: 22px;
            margin-bottom: .5rem;
            padding: .25rem;
            border-color: variables.$secondary-border-color;
            font-size: 12px;
            }

        button {
            border-radius: 22px;
            // margin-bottom: 1rem;
            padding: .4rem;
            background-color: variables.$primary-interactive-color;
            color: variables.$light-color;
            border: none;
            font-size: 12px;
            }
    }

    .inventory__list--mobile {
        display: flex;
        flex-direction: column;
        background-color: variables.$light-color;


        .inventory__grid--mobile {
            padding: .5rem .75rem 1rem .75rem;
            display: grid;
            grid-template-columns: 7rem 7rem;
            grid-template-rows: 3rem 3rem 3rem;
            border-bottom: 1px solid variables.$secondary-border-color;
            
            .inventory__grid--item {
                display: flex;
                flex-direction: column;
                grid-column: 1 / span 2;
                padding: .5rem .5rem 0 .5rem;

                
                    .item__info--wrap {
                        display: flex;
                        flex-direction: row;


                        h4 {
                            font-size: 11px;
                            line-height: 16px;
                            color: variables.$secondary-text-color;
                            margin: .5rem 0 .25rem 0;
                            vertical-align: top;

                        }
            
                        p {
                            font-size: 11px;
                            margin: 0 0 .25rem 0;
                            vertical-align: top;
                        }

                        a {
                            font-size: 11px;
                            vertical-align: top;
                            margin: 0 0 .25rem 0;

                        }
                    }

                    .button__wrap {
                        margin-bottom: 1rem;
                        display: flex;
                        justify-content: space-between;
                            
                        img {
                            font-size: 11px;
                            line-height: 16px;
                            height: 1rem;
                            width: 1rem;
                            }
    
                    }


            }


        }
    }
    
    .inventory__list--tabdesc{
        display: none;
    }

    @include tablet {
        .inventory__list--mobile{
            display: none;
        }

        .inventory__list--tabdesc{
            display: flex;

            .inventory__grid--container {
                display: grid;
                grid-template-columns: 5rem 5rem 5rem 5rem 5rem 5rem;
                // grid-template-rows: 2rem 2rem 2rem 2rem 2rem 2rem;
        
                    .grid__header--wrap {
                        display: flex;
                        justify-content: space-between;
                        grid-column: 1 / span 5;
                        background-color: variables.$primary-background-color;

                        h4 {
                            font-size: 11px;
                            line-height: 16px;
                            color: variables.$secondary-text-color;
                            margin: .5rem 0 .25rem 0;
                            vertical-align: top;
                        }
                    }

                    .inventory__grid--item {
                        display: flex;
                        flex-direction: row;
                        grid-column: 1 / span 5;
                        border-bottom: 1px solid variables.$secondary-border-color;

                        p {
                            font-size: 11px;
                            margin: 0 0 .25rem 0;
                            vertical-align: top;
                        }

                        a {
                            font-size: 11px;
                            vertical-align: top;
                            margin: 0 0 .25rem 0;

                        }

                        .button__wrap {

                            img {

                            }
                        }
                    
                }
            }
        }
            
            
    }

    @include desktop {


    }
}