@use '../../styles/partials/_variables.scss';
@use '../../styles/partials/mixins' as *;


//Inventory Styling

.inventory__list {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    border-radius: 5px;
    background-color: variables.$light-color;
    box-sizing: border-box;

    .inventory__list--mobile {
        display: flex;
        flex-direction: column;
        background-color: variables.$light-color;


        .inventory__grid--mobile {
            padding: .5rem .75rem 1rem .75rem;
            display: grid;
            grid-template-columns: 6rem 6rem;
            grid-template-rows: 3rem 3rem 3rem;
            border-top: 1px solid variables.$secondary-border-color;

            .inventory__grid--item {
                display: flex;
                flex-direction: column;
                grid-column: 1 / span 2;
                padding: .5rem .5rem 0 .5rem;


                .item__info--wrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    div {
                        width: 50%;
                    }


                    h4 {
                        font-size: 11px;
                        line-height: 16px;
                        color: variables.$secondary-text-color;
                        margin: .5rem 0 .25rem 0;
                        vertical-align: top;
                        text-transform: uppercase;

                    }

                    p {
                        font-size: 11px;
                        margin: 0 0 .25rem 0;
                        vertical-align: top;


                    }

                    a {
                        font-size: 11px;
                        margin: 0 0 2rem 0;
                        vertical-align: top;
                        text-decoration: none;
                        color: variables.$primary-interactive-color;
                        font-weight: bold;

                        p {


                            .img {
                                margin-bottom: 4rem;
                            }
                        }


                    }
                }

                .button__wrap {
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;

                    img {
                        font-size: 11px;
                        line-height: 16px;
                        height: 1rem;
                        width: 1rem;
                    }

                }


            }


        }
    }

    .inventory__list--tabdesc {
        display: none;
    }

    @include tablet {
        display: flex;
        flex-direction: column;
        background-color: variables.$light-color;
        padding: 0 .25rem;
        width: 30rem;

        .inventory__list--mobile {
            display: none;
        }

        .inventory__list--tabdesc {
            background-color: variables.$light-color;
            display: grid;


            .inventory__grid--container {
                display: grid;
                // width: auto;
                // grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem;
                grid-template-rows: 2rem 4rem 4rem 4rem 4rem 4rem;

                .grid__header--wrap {
                    width: 30rem;

                    display: flex;
                    padding-left: 1rem;
                    grid-column: 1 / span 6;
                    background-color: variables.$primary-background-color;

                    div {
                        display: flex;
                        width: 100%;


                        h4 {
                            width: auto;
                            font-size: 11px;
                            line-height: 16px;
                            color: variables.$secondary-text-color;
                            margin-right: .5rem;

                        }

                        img {
                            margin-top: .6rem;
                            height: 1rem;
                        }
                    }
                }

                .inventory__grid--item {
                    width: 30rem;
                    display: flex;
                    // flex-direction: row;
                    grid-column: 1 / span 6;
                    border-top: 1px solid variables.$secondary-border-color;
                    padding: 0 1rem;
                    align-items: center;

                    div {

                        .forward__arrow {
                            margin-bottom: -.4rem;
                        }

                        a {
                            margin-bottom: 1rem;
                            align-self: center;

                        }
                    }


                    p {
                        width: 7rem;
                        font-size: 11px;
                        margin: 0;
                    }

                    a {
                        font-size: 11px;
                        text-decoration: none;
                        color: variables.$primary-interactive-color;
                        margin-bottom: .5rem;
                        font-weight: bold;

                        p {
                            margin: 0;
                        }

                        img {
                            margin-top: 1rem;
                        }



                    }

                    .button__wrap {
                        display: flex;
                        justify-content: center;

                        img {
                            font-size: 11px;
                            height: 1.25rem;
                            margin: 1rem 0 0 1rem;
                        }
                    }

                }

                .inventory__list--item:hover {
                    background-color: variables.$primary-interactive-color;
                    opacity: 0.3;
                    color: variables.$primary-text-color;
                }

            }
        }


    }

    @include desktop {
        width: 52rem;
        display: flex;
        // justify-content: center;
        // align-items: center;

        .inventory__list--tabdesc {
            background-color: variables.$light-color;
            display: flex;
            flex-direction: column;
            width: 100%;

            .inventory__grid--container {
                // margin-left: 1rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 3rem 3rem 3rem 3rem 3rem;

                .grid__header--wrap {
                    text-transform: uppercase;
                    display: grid;
                    padding: 0 1rem 0 2rem;
                    grid-template-columns: repeat(6, 1fr);
                    align-items: center;
                    background-color: variables.$primary-background-color;

                    div {
                        display: flex;

                        h4 {
                            width: auto;
                            font-size: 11px;
                            line-height: 16px;
                            color: variables.$secondary-text-color;
                            margin-right: .5rem;

                        }

                        img {
                            margin-top: .5rem;
                        }

                    }

                }

                .inventory__grid--item {
                    display: grid;
                    padding: 0 1rem 0 2rem;
                    grid-template-columns: repeat(6, 1fr);
                    align-items: center;
                    border-bottom: 1px solid variables.$secondary-border-color;

                    div {

                        .forward__arrow {
                            margin-bottom: -.4rem;
                        }

                        a {
                            margin-bottom: 1rem;
                            align-self: center;

                        }
                    }

                    p {
                        // width: 8rem;
                        font-size: 11px;

                    }

                    .contact__phone {
                        margin: 0;
                    }

                    a {
                        font-size: 11px;
                        margin: 0.5rem 0 .25rem 0;
                        justify-self: center;
                        width: 8rem;
                    }

                    img {}

                    .button__wrap {
                        // width: 8rem;

                    }
                }
            }


        }


    }
}