@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.add-inventory {
    &__heading {
        display: flex;
        align-items: baseline;
        border-bottom: 1px solid $secondary-border-color;
        padding: 24px 16px;

        @include tablet {
            padding: 23px 32px;    
        }
    }

    &__icon {
        width: 20px;
        margin-right: 0.25rem;
        transition: transform 0.2s ease;
        cursor: pointer;

        @include tablet {
            width: 24px;
            margin-right: 0.5rem;
        }

        &:hover {
            transform: translateX(-4px);
        }
    }

    &__title {
        @include mobile-text-pageheader-h1();
        
        @include tablet {
            @include tablet-text-pageheader-h1();
            margin-top: 8px;
        }
    }
}