@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.warehouse-inventory-list {
    &__mobile {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-top: 1px solid $secondary-border-color;
        
        @include tablet {
          display: none;
        }
    }

    &__mobile-title {
        @include mobile-text-tableheader-h4();
        text-transform: uppercase;
        padding-bottom: 0.125rem;
    }

    &__mobile-container {
        display: flex;
        height: 80px;
    }

    &__mobile-column {
        flex: 1;
    }

    &__mobile-category {
        padding: 1rem 0;
    }

    &__mobile-qty {
      padding: 0.5rem 0;
    }

    &__table {
        display: none;

        @include tablet {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__header {
        @include tablet {
            display: flex;
            background-color: $primary-background-color;
            padding: 0.5rem 0;
        }
    }

    &__title {
        @include tablet-text-tableheader-h4();
        text-transform: uppercase;
    }

    &__icon {
        @include tablet {
            display: flex;
            width: 16px;
            margin-left: 0.25rem;
        }
    }
    
    &__row-header {
        @include tablet-padding();
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__tbody {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__row-body {
        @include tablet {
            @include tablet-padding();
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            height: 58px;
            border-bottom: 1px solid $secondary-border-color;
          
            &:hover {
                background-color: rgba(46,102,229,0.07);
            }

            &:last-child {
              border-bottom: none;
            }
        }
      }

    &__column-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.125rem 0;
    }

    &__data {
        @include tablet {
            display: flex;
            align-items: center;
            flex: 1;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $primary-interactive-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__link-icon {
        width: 22px;
        padding-left: 0.25rem;
    }

    &__name {
        @include mobile-text-tableheader-h4();

        @include tablet {
            @include tablet-text-label-h3();
        }
    }

    &__in-stock {
        @include in-stock-styles();
        display: inline-block;
        
        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
          margin-left: 5rem;
        }
    }

    &__out-of-stock {
        @include out-of-stock-styles();
        display: inline-block;

        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
            margin-left: 5rem;
        }
    }

    &__status {
        @include status-styles();
        font-size: 0.625rem;
    }

    &__paragraph {
        @include mobile-text-bodysmall-p3();
        padding-bottom: 0.75rem;

        @include tablet {
            @include tablet-text-bodymedium-p2();
        }
    }

    &__category {
        @include mobile-text-bodysmall-p3();
        padding-bottom: 0.75rem;

        @include tablet {
            @include tablet-text-bodymedium-p2();
            margin-left: 3rem;
        }

        @include desktop {
          margin-left: 3.5rem;
        }
    }

    &__qty {
        @include mobile-text-bodysmall-p3();
        padding-bottom: 0.75rem;

        @include tablet {
            @include tablet-text-bodymedium-p2();
            margin-left: 4.25rem;
        }

        @include desktop {
            margin-left: 7rem;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        padding-top: 1.25rem;

        @include tablet {
          justify-content: flex-end;
          padding: 0;
          margin-top: 12px;
        }
    }

    &__delete {
        width: 20px;

        @include tablet {
            width: 22px;
            margin-right: 1rem;
        }
    }

    &__edit {
        width: 20px;

        @include tablet {
            width: 22px;
        }
    }
}