@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

// .warehouses {
//     background-color: $light-color;
//     margin: 0 auto;
    
// }

// //Warehouse Styling

// #warehouse__main {
//     padding: 0 1rem 1rem 1rem;
//     display: flex;
//     justify-content: center;

//     .warehouse__list {
//         width: 100%;
//     }
// }

.warehouses-page {
    &__header {
        padding: 1.5rem 1rem 1.25rem;
        border-bottom: 1px solid $secondary-border-color;

        @include tablet {
            @include tablet-padding();
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: none;
        }
    }

    &__title {
        @include mobile-text-pageheader-h1();
        padding-bottom: 1rem;
        
        @include tablet {
            @include tablet-text-pageheader-h1();
            padding: 0.5rem 0 0.125rem;   
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        @include tablet {
            flex-direction: row;
        }
    }
}