@use '../../styles/partials/variables';
@use '../../styles/partials/mixins' as *;

//Warehouse List Styling

.warehouse__list--component {
    display: flex;
    flex-direction: column;
    background-color: variables.$light-color;
    border-radius: 5px;
    // padding: 1rem;
    // box-sizing: border-box;

    .header__wrap {
        display: flex;
        flex-direction: column;

        h1 {
            margin: .5rem .5rem .5rem 0;
        }

        input {
            border-radius: 22px;
            margin-bottom: 1rem;
            padding: .25rem;
            border-color: variables.$secondary-border-color;
            font-size: 12px;
        }

        button {
            border-radius: 22px;
            margin-bottom: 1rem;
            padding: .4rem;
            background-color: variables.$primary-interactive-color;
            color: variables.$light-color;
            border: none;
            font-size: 12px;

        }
    }

    .warehouse__list--mobile {
        background-color: variables.$light-color;

        .warehouse__grid--mobile {
            display: grid;
            grid-template-columns: 6rem 6rem;
            grid-template-rows: 3rem 3rem 3rem;

            .warehouse__list--item {
                display: flex;
                flex-direction: column;
                // border-bottom: 1px solid variables.$secondary-border-color;
                padding: .5rem .5rem 0 .5rem;
                text-align: left;
                grid-column: 1 / span 2;

                .button__wrap {
                    margin-bottom: 1rem;
                    display: flex;

                    img {
                        font-size: 11px;
                        line-height: 16px;
                        height: 1rem;
                        width: 1rem;
                    }
    
                }

                .warehouse__info--wrap {
                    display:flex;
                    flex-direction: row;


                    h4 {
                        font-size: 11px;
                        line-height: 16px;
                        color: variables.$secondary-text-color;
                        margin: .5rem 0 .25rem 0;
                        vertical-align: top;
                        text-transform: uppercase;

                    }

                    // td {

                    p {
                        font-size: 11px;
                        margin: 0 0 .25rem 0;
                        vertical-align: top;


                    }

                    a {
                        font-size: 11px;
                        margin: 0 0 .25rem 0;
                        vertical-align: top;

                    }

                    .address {
                        margin-right: 1.5rem;
                    }

                }
            }

        }
    }
    


    .warehouse__list--tabdesc {
        display: none;
    }

    @include tablet {
        display: flex;
        flex-direction: column;
        background-color: variables.$light-color;
        padding: 0 .25rem;

        .header__wrap {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: top;

            h1 {
                margin: .5rem .5rem .5rem 0;
                font-size: 50px;
            }

            input {
                margin: 0 0 0 4rem;
                padding: .25rem;
                font-size: 12px;
                height: 1.5rem;
            }

            button {
                margin: 2rem 0 0 .5rem;
                padding: .4rem;
                font-size: 12px;
                height: 1.5rem;


            }

        }


        .warehouse__list--mobile {
            display: none;
        }

        .warehouse__list--tabdesc {
            background-color: variables.$light-color;
            display: grid;


            .warehouse__grid--container {
                display: grid;
                // grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
                grid-template-rows: 2rem 4rem 4rem 4rem 4rem;

                .grid__header--wrap {
                    display: flex;
                    padding-left: 1rem;
                    grid-column: 1 / span 5;
                    background-color: variables.$primary-background-color;

                    h4 {
                        width: 7.25rem;
                        font-size: 11px;
                        line-height: 16px;
                        color: variables.$secondary-text-color;
                        margin: .5rem 0 0 0;

                    }
                }

                .warehouse__list--item {
                    display: flex;
                    grid-column: 1 / span 5;
                    border-bottom: 1px solid variables.$secondary-border-color;
                    padding: 0 1rem;

                    p {
                        width: 7rem;
                        font-size: 11px;

                    }

                    a {
                        font-size: 11px;
                        // line-height: 16px;
                        // justify-self: center;
                        text-decoration: none;
                        color: variables.$primary-interactive-color;
                        margin-bottom: .5rem;
                        font-weight: bold;

                        p {
                            margin: 0;
                        }

                        p:img {
                            margin-top: 2rem;
                        }
                        
                    }

                    img {
                        font-size: 11px;
                        line-height: 16px;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    @include desktop {
        // width: 52rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .header__wrap {
            display: flex;
            // flex-direction: row;
            align-items: center;
            margin: 2rem 0;
            padding: 0 1.5rem;

            h1 {
                margin: .5rem;
                font-size: 50px;
            }

            input {
                display: block;
                margin: 0 0 0 20rem;
                padding: .25rem 1rem;
                font-size: 12px;
                height: 2.5rem;
                width: 274px;
                outline: none;
                border: 1px solid variables.$secondary-border-color;
            }

            button {
                margin: 0 0 0 .5rem;
                padding: 0 1rem;
                font-size: 12px;
                height: 2.5rem;
                width: auto;
            }
        }

        .warehouse__list--tabdesc {
            background-color: variables.$light-color;
            display: flex;
            flex-direction: column;

            .warehouse__grid--container {
                // margin-left: 1rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 3rem 3rem 3rem 3rem 3rem;

                .grid__header--wrap {
                    text-transform: uppercase;
                    display: grid;
                    padding: 0 1rem 0 2rem;
                    grid-template-columns: repeat(5, 1fr);
                    align-items: center;
                    background-color: variables.$primary-background-color;

                    h4 {
                        width: 7.25rem;
                        font-size: 11px;
                        line-height: 16px;
                        color: variables.$secondary-text-color;
                        margin: .5rem 0 0 0;

                    }
                }

                .warehouse__list--item {
                    display: grid;
                    padding: 0 1rem 0 2rem;
                    grid-template-columns: repeat(5, 1fr);
                    align-items: center;
                    border-bottom: 1px solid variables.$secondary-border-color;

                    p {
                        // width: 8rem;
                        font-size: 11px;

                    }

                    .contact__phone {
                        margin: 0;
                    }

                    a {
                        font-size: 11px;
                        margin: 0.5rem 0 .25rem 0;
                        justify-self: center;
                        width: 8rem;
                    }

                    img {
                        // font-size: 11px;
                        // line-height: 16px;
                        // height: 1rem;
                        // width: 1rem;
                    }

                    .button__wrap {
                        // width: 8rem;

                    }
                }
            }


        }

    }
}