@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    &__copyright {
        display: flex;
        justify-content: center;
        color: $secondary-text-color;
        @include mobile-text-label-h3();
    }
}