@use './styles/partials/global' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

.App {
    background-color: $secondary-background-hover-color;
    height: 175px;

    @include tablet {
        height: 185px;
    }
}